@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.cdnfonts.com/css/orkney");
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #990011 #f3f4f6;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(107 114 128);
  border-radius: 1px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5a67d8;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(183 192 238);
}

@keyframes borderGradient {
  0% {
    border-image-source: linear-gradient(to top, #63B3ED, #8B5CF6);
  }
  50% {
    border-image-source: linear-gradient(to top, #8B5CF6, #63B3ED);
  }
  100% {
    border-image-source: linear-gradient(to top, #63B3ED, #8B5CF6);
  }
}

@keyframes borderGradient2 {
  0% {
    border-image-source: linear-gradient(to right, #ffcc29, #ff8a00);
  }
  33% {
    border-image-source: linear-gradient(to bottom, #ff8a00, #ffcc29);
  }
  66% {
    border-image-source: linear-gradient(to left, #ffcc29, #ff8a00);
  }
  100% {
    border-image-source: linear-gradient(to top, #ffcc29, #ff8a00);
  }
}

@layer utilities {
  .border-gradient-blue-pink {
    border-width: 0px 0px 0px 4px;
    border-image-slice: 1;
    animation: borderGradient 10s linear infinite;
  }

  .border-gradient {
    border-width: 4px;
    border-image-slice: 1;
    animation: borderGradient 10s linear infinite;
  }
}