@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.cdnfonts.com/css/orkney");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

.scrollbar {
  scrollbar-color: #7067cf #b7c0ee;
  border-radius: 3px;
  scrollbar-width: thin;
}

::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  width: 0px;
}

@keyframes borderGradient {
  0% {
    border-image-source: linear-gradient(to top, #63b3ed, #8b5cf6);
  }
  50% {
    border-image-source: linear-gradient(to top, #8b5cf6, #63b3ed);
  }
  100% {
    border-image-source: linear-gradient(to top, #63b3ed, #8b5cf6);
  }
}

@keyframes borderGradient2 {
  0% {
    border-image-source: linear-gradient(to right, #ffcc29, #ff8a00);
  }
  33% {
    border-image-source: linear-gradient(to bottom, #ff8a00, #ffcc29);
  }
  66% {
    border-image-source: linear-gradient(to left, #ffcc29, #ff8a00);
  }
  100% {
    border-image-source: linear-gradient(to top, #ffcc29, #ff8a00);
  }
}

@layer utilities {
  .border-gradient-blue-pink {
    border-width: 0px 0px 0px 4px;
    border-image-slice: 1;
    animation: borderGradient 4s linear infinite;
  }

  .border-gradient {
    border-width: 4px;
    border-image-slice: 1;
    animation: borderGradient 4s linear infinite;
  }
}
